<table>
    <tbody>
        {{#each @budgets as |budget|}}
            <tr>
                <td>{{budget.budget_type}}</td>
                <td>{{budget.category}}</td>
                <td>{{budget.amount}}</td>
                <td>{{budget.explanation}}</td>
                <td>{{budget.date_added}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
